/* App.css : style global */
.app-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;

}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  margin-top: 40px;
  color: #555;
}


